PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/driftkart
JWT_SECRET=your_super_secret_jwt_key_here
RAZORPAY_KEY_ID=rzp_test_rYj5bNnU4gO2Yx
RAZORPAY_KEY_SECRET=your_razorpay_secret
NODE_ENV=development
